#slides {
  display: none;

  img {
    height: 100%;
    width: 100%;
  }
  .slidesjs-navigation {
    margin-top: 5px;
  }
  a {
    &.slidesjs-next, &.slidesjs-previous, &.slidesjs-play, &.slidesjs-stop {
      background-image: url(btns-next-prev.png);
      background-repeat: no-repeat;
      display: block;
      width: 12px;
      height: 18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right: 5px;
    }
    &.slidesjs-next {
      margin-right: 10px;
      background-position: -12px 0;
    }
    &:hover.slidesjs-next {
      background-position: -12px -18px;
    }
    &.slidesjs-previous {
      background-position: 0 0;
    }
    &:hover.slidesjs-previous {
      background-position: 0 -18px;
    }
    &.slidesjs-play {
      width: 15px;
      background-position: -25px 0;
    }
    &:hover.slidesjs-play {
      background-position: -25px -18px;
    }
    &.slidesjs-stop {
      width: 18px;
      background-position: -41px 0;
    }
    &:hover.slidesjs-stop {
      background-position: -41px -18px;
    }
    &:link, &:visited {
      color: #333333;
    }
    &:hover, &:active {
      color: #9e2020;
    }
  }

  .slidesjs-previous {
    position: fixed;
    bottom: 5%;
    left: 42.5%;
    z-index: 999;
  }
  .slidesjs-edit {
    position: fixed;
    bottom: 5%;
    left: 49.5%;
    z-index: 999;
  }
  .slidesjs-stop {
    position: fixed;
    bottom: 5%;
    left: 45.5%;
    z-index: 999;
  }
  .slidesjs-play {
    position: fixed;
    bottom: 5%;
    right: 45.5%;
    z-index: 999;
  }
  .slidesjs-next {
    position: fixed;
    bottom: 5%;
    right: 42.5%;
    z-index: 999;
  }
}
